/* ---------- root variables ---------- */
:root {
  --orange: #FFB828;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}


/* ---------- GENERAL STYLING ---------- */
html {
  color: var(--text-color-dark);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
}

svg {
  width: 50%;
}

/* GUL GRADIENT 
background: rgb(255,220,107);
background: linear-gradient(111deg, rgba(255,220,107,1) 0%, rgba(255,184,40,1) 100%); 
*/

/* ---------- TOPBAR STYLING (Pernille) ---------- */
.orange-h2 {
  color: #FFB828;
}

.topbar-til-gul-overskrift {
  background-color: white;
  box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.19);
  top: 0;
  right: 0;
  left: 0;
}

.flex-items-gul-overskrift {
  display: flex;
  justify-content: space-between;
}

.gul-pil-tilbage {
  width: 10px;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.gul-search {
  width: 20px;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

/* ---------- tabbar styling (Inspiration fra Rasmus Cederdorff) ---------- */
.tabbar {
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.19);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding-top: 10px;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: #B9B9B9;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

/* Styling af svg'er i tabbar (Pernille) */

#stroke-2,
.a7c32b84-4138-4909-b105-8352f2be7c0d {
  stroke-miterlimit: 10;
  stroke-width: 0.9px;
}

.chat-ikon {
  width: 65%;
  position: relative;
  bottom: 5px;
}

#chattext {
  position: relative;
  top: -11.5px;
}

#profiletext {
  position: relative;
  top: 1.5px;
}

.profil-ikon {
  width: 40%;
}

/* Add a color to the active/current link (Pernille) */
.tabbar a.active {
  color: #FFB828;
}

a.active .cls-1 {
  fill: #FFB828;
  stroke: #FFB828;
}

a.active .cls-2 {
  display: none;
}

a.active .a2bc5a44-963f-4cdf-92d1-05ea7a378e1c {
  fill: #FFB828;
  stroke: #FFB828;
}

a.active .ed978444-ae00-4b29-ba99-62a17ee5fde4 {
  display: none;
}

a.active .a107bf30-7377-4cd6-ba05-5a67c66a7e4c {
  display: none;
}

a.active .a36e720b-d937-4684-923d-4a06bce395ee {
  fill: #FFB828;
  stroke: white 2px;
}


a.active .a7c32b84-4138-4909-b105-8352f2be7c0d {
  display: none;
}

a.active .b716c01d-597c-4fbd-8e51-ed31f7ad777c {
  display: none;
}

a.active .a16232aa-efea-4055-9468-995c2e7436e1 {
  fill: #FFB828;
}

a.active .e4e7baba-5940-47b3-8fc4-fb45ae99d495 {
  display: none;
}

a.active .f3298beb-8e07-41c1-862c-094f373cce4a {
  fill: #FFB828;
  stroke: #FFB828;
}




/* ---------- page styling (Inspiration fra Rasmus Cederdorff) ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.6s;
  /* padding equals height of tabbar and topbar */
  padding: 0;
}

/* ---------- pick your interests (Maja & Tine) ---------- */
.categories {
  border: none;
  position: relative;
  margin: 10%;
  z-index: 1;
  border-radius: 4px;

}

.accordion {
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;


}



.panel {
  display: none;
  overflow: hidden;
  text-align: justify;
}

.mdl-js {
  background-color: transparent;

}




/* ---------- home page (Tine) ---------- */
.orange {
  width: 100%;
}

.home_h2 {
  position: relative;
  z-index: 1;
  color: white;
}

.search {
  color: #939393;
  width: 330px;
  padding: 14px;
  border: none;
  margin-top: 25px;
  border-radius: 4px;
  font-family: montserrat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input_container {
  position: relative;
}

#input_img {
  position: absolute;
  bottom: 13%;
  left: 80%;
  width: 24px;
}

.hvid_boks {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: -2em;
  margin-bottom: 18%;
  z-index: 1;
  border-radius: 4px;
  text-align: justify;
}

.hvid_boks_img {
  margin-left: 4%;
}

.hvid_boks_img img {
  padding: 12px 0px 12px 2px;

}

.floorball_img {
  border-end-end-radius: 4px;
  margin-bottom: -5px;
  height: 150px;

}

.meetup_info {
  color: #939393;
  text-align: left;
  padding-top: 5px;
  font-size: 0.8em;
  margin: 0;
  padding-left: 20px;
}

h2.floorball {
  color: #FFB828;
  padding-top: 50px;
  padding: 7px;
  padding-top: 25px;
  margin: 0;
  padding-left: 20px;
}

.kryds {
  position: sticky;
  z-index: 2;
  left: 80%;
  top: 84%;
}



/*----------- LOGIN FORSIDE (Tine) -------------*/
h1.find-your-new,
h1.hobby-homies {
  color: var(--orange);
  margin: 2px;
}

h1.hobby-homies {
  font-size: 35px;
}

h1.find-your-new {
  font-size: 30px;
}

img.orange {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  background-color: white;
  margin: 12%;
  margin-top: 150px;
  z-index: 1;
  padding-top: 15%;
  padding-bottom: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* ---------- LOADING ANIMATION (Pernille) ---------- */
#loader {
  z-index: 10000000;
  background: rgb(255, 220, 107);
  background: linear-gradient(0deg, rgba(255, 220, 107, 1) 7%, rgba(255, 184, 40, 1) 39%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: bagggrund-fade 3.5s;
}

.hide {
  display: none;
}

#logo-animation {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70%;
  animation: rotate-logo 3.5s infinite both;
}

.velkomst-overskrift {
  text-align: center;
  color: white;
  font-size: 2.1em;
  animation: hide 3.5s;
  font-weight: bold;
}


@keyframes rotate-logo {
  0% {
    transform: rotate(180deg);
  }

  25% {
    transform: rotate(-180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(180deg);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide {
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes baggrund-fade {
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



/* ---------- FIREBASE LOGIN (Tine & Maja) ---------- */
.spinner {
  border: 5px solid var(--light-grey);
  border-radius: 50%;
  border-top: 5px solid var(--orange);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* login card content */
.firebaseui-card-content {
  margin-top: 40px;
}

/* default "sign in with email"-header we don't need */
.firebaseui-card-header {
  display: none;
}

/* login conatiner */
.firebaseui-container {
  background-color: white;
}

/* sign in with email */
.firebaseui-idp-password {
  background-color: var(--orange);
  border-radius: 20px;
}

/* sign in with google */
.firebaseui-idp-google {
  background-color: white;
  border-radius: 20px;
}

/* cancel + next button */
.firebaseui-form-actions {
  text-align: center;
}

/* cancel button */
.firebaseui-id-secondary-link,
.firebaseui-button.mdl-button,
.mdl-js-button.mdl-button--primary {
  background-color: var(--light-grey);
  text-transform: capitalize;
  color: var(--text-color-dark);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 20px;
}

/* cancel button active */
.firebaseui-id-secondary-link:active {
  transform: scale(0.9);
}


/* next button */
.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--orange);
  text-transform: capitalize;
  color: #fff;
  border-radius: 20px;
}

/* next button active */
.mdl-button--raised.mdl-button--colored:active {
  transform: scale(0.9);
}

/* sign in with mail */
.firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-password.firebaseui-id-idp-button:active {
  transform: scale(0.9);
}

/* fjerner rød farve fra sign in with mail */
.firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-password.firebaseui-id-idp-button:hover {
  background-color: var(--orange);
}

.firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-google.firebaseui-id-idp-button:active {
  transform: scale(0.9);
}

/* line below input fields */
.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--orange);
}

/* firebase's default "forgot password" */
.firebaseui-link.firebaseui-id-secondary-link {
  visibility: hidden;
}

/* Forgot password */
.firebaseui-link.firebaseui-id-secondary-link:after {
  visibility: visible;
  content: 'Forgot password?';
  display: block;
  background-color: white;
  box-shadow: none;
  font-weight: 600;
  margin-top: -55px;
  margin-left: 165px;
  font-size: 9pt;
}

/* både forgot password og sign in */
.firebaseui-card-actions {
  display: grid;
}

/* sign in */
.firebaseui-id-submit.firebaseui-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored {
  margin-top: 0px;
}



/*----------------MEETUP (pernille)----------------*/
#meetup {
  background-color: white;
}

a {
  text-decoration: none;
}

button {
  background-color: #CDCACA;
  color: #707070;
  font-family: montserrat;
  font-weight: bolder;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.participate {
  background-color: #CDCACA;
  margin-top: -5em;
  margin: 10px;
}

.meetup-overskrift {
  color: #FFB828;
  font-size: 1.4em;
  float: left;
  margin-left: 5%;
}

.bogmaerke {
  width: 4%;
  float: left;
  padding-left: 2%;
  margin-top: 6.5%;
}

.ur {
  width: 4%;
  float: left;
  margin-top: 17%;
  margin-left: -8em;
}

.lokation-graa {
  width: 4%;
  float: left;
  margin-top: 25%;
  margin-left: -212px;
}

.tid-tekst {
  float: left;
  margin-left: -6em;
  margin-top: 17%;
  color: #939393;
}

.sted-tekst {
  float: left;
  margin-top: 25%;
  margin-left: -182px;
  color: #939393;
}

.participants-overskrift {
  float: left;
  margin-top: 35%;
  margin-left: -245px;
}

.tal-til-participants {
  color: #939393;
  font-size: 0.6em;
}

.flex-til-billeder>div>img {
  width: 115%;
}

.flex-til-billeder {
  display: flex;
  float: left;
  margin-top: 10%;
  padding-right: 40%;
  margin-left: 4%;
  padding-bottom: 5%;
}

.flex-til-billeder>div {
  flex-direction: row;
  padding: 3%;
}

.h3-description {
  margin-top: 40%;
  margin-left: -258px;
}

.description-text {
  margin-top: -2em;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

.read-more {
  font-weight: bolder;

}

/* ---------- FIND HOMIES (pernille) ---------- */

/* fjerner styling på knap */
button {
  border: none;
  background: transparent;
}

/* styling til gul overskrift */
.orange-h2 {
  color: #FFB828;
}

.topbar-til-gul-overskrift {
  background-color: white;
  box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.19);
  top: 0;
  right: 0;
  left: 0;
  position: sticky;

}

.flex-items-gul-overskrift {
  display: flex;
  justify-content: space-between;
}


.gul-pil-tilbage {
  width: 15px;
  float: left;
  padding-top: 22px;
  padding-left: 20px;
}

.gul-search {
  width: 25px;
  float: right;
  padding-top: 22px;
  padding-right: 20px;
}

/* find homies */
.find-homies-profiler {
  background: linear-gradient(90deg, rgba(255, 184, 40, 1) 55%, rgba(255, 220, 107, 1) 87%);
  box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.19);
  margin-right: 18px;
  margin-left: 18px;
  margin-top: 2.5em;
  text-align: justify;
}

.find-homies-profiler>p {
  color: white;
  margin-left: 25px;
  padding-top: 1em;
}

.navn-og-alder {
  font-size: 1.7em;
}

.profil-billede {
  width: 27%;
  float: right;
  margin-top: 40px;
  margin-right: 25px;
}

.lokations-pointer {
  width: 12px;
  padding-top: 10px;
}

.homies-lokation-tekst {
  font-size: 1em;
  padding-top: 4px;
}

.hobbies-undertitel {
  font-size: 1.2em;
}

.homies-profiler-broedtekst {
  font-weight: lighter;
  font-size: 1em;
  padding-top: 4px;
}

/* ---------- CREATE EVENT (Pernille) ---------- */
#createevent {
  background-color: white;
}

.indsaet-foto {
  width: 15%;
  margin-top: 5%;
}

.boks-bag-billede {
  background-color: #F0F0F0;
  padding: 10%;
  margin-bottom: -9em;
}

#createevent>button {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 22px;
  padding: 10px;
  transition: transform .2s;
  /* Animation */
  z-index: 999999999999999;
  font-weight: 700;
  font-size: 16px;
  ;
  margin-bottom: 30%;
  width: 40%;
  height: 40px;
}

.scale-knap:active {
  transform: scale(0.9);
}

/* ---------- CHAT (Pernille) ---------- */
#clients {
  background-color: white;
}

.chat-billede-enkelt {
  width: 18%;
  margin-top: 4%;
  float: left;
  margin-left: 5%;
  padding-bottom: 3%;
}

.chat-streger {
  width: 52%;
  height: 0.1px;
  background-color: #C4C0BC;
  border: 0;
  padding-right: 16%;
}

.chat-navn-overskrift {
  padding-top: 2%;
  float: left;
  padding-left: 4%;
  font-size: 1em;
  color: #3F3F3F;
}

.chat-text {
  float: left;
  padding-left: 4%;
  font-size: 1em;
  padding-bottom: 3%;
  margin-top: -0.5em;
  text-align: justify;
  color: #707070;
}

/* ---------- CHATRUM (Pernille) ---------- */
#chat-rum {
  background-color: white;
}

.chatrum-billede {
  width: 18%;
  float: left;
  margin-left: 30%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.h4-chat-navn {
  color: #FFB828;
  margin-top: 6px;
  font-size: 1.4em;
  float: right;
  margin-right: 30%;
  padding-top: 6%;
}

.message-billede-venstre {
  width: 10%;
  float: left;
  margin-left: 5%;
  margin-top: 3%;
}

.chatrum-chatbesked-hoejre {
  background-color: #F5F5F5;
  border-radius: 50px 50px 50px 50px;
  padding: 3%;
  padding-left: 5%;
  margin-top: 5%;
  margin-right: 13%;
  margin-left: 16%;
  text-align: left;
}

.message-billede-hoejre {
  width: 10%;
  float: right;
  margin-right: 5%;
  margin-top: 1%;
}

.chatrum-chatbesked-venstre {
  background-color: #FFB828;
  border-radius: 50px 50px 50px 50px;
  padding: 3%;
  padding-left: 5%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 16%;
  text-align: right;
}

.message-billede-venstre-2 {
  width: 10%;
  float: left;
  margin-left: 5%;
  margin-top: -0.5%;
}

.chatrum-chatbesked-hoejre-2 {
  background-color: #F5F5F5;
  border-radius: 50px 50px 50px 50px;
  padding: 3%;
  padding-left: 5%;
  margin-top: 5%;
  margin-right: 12%;
  margin-left: 16%;
  text-align: left;
}

#message-box {
  background-color: #F5F5F5;
  border-radius: 50px 50px 50px 50px;
  border: none;
  margin-top: 60%;
  width: 75%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-right: 10%;
  font-family: montserrat;
  padding-left: 2%;
}

.send-besked-ikon {
  width: 7%;
  float: right;
  margin-top: -1.85em;
  margin-right: 7%;
}


/* ---------- PROFILE (Laurids) ---------- */
#profile {
  background-color: white;
}

#profilflex {
  display: flex;
  justify-content: space-between;
}

#profileheaderflex {
  display: flex;
  position: absolute;
  top: 20px;
  z-index: 99999;
  margin: auto;
}

.profilearrow {
  width: 9.5%;
  margin-right: 65%;
  margin-top: 3px;
}

.profilearrow2 {
  width: 60.5%;
  margin-top: 3px;
}

#profileh {
  color: white;
  margin: auto;
  margin-right: 100px;
}

img.orangeabsolute {
  z-index: 0;
  position: absolute;
  top: -75px;
  left: 0;
}

/*Profilbillede */
.jacobprofilbillede {
  width: 150px;
  position: absolute;
  top: 125px;
  left: 33%;
  z-index: 999;
}

#firstandlastnameflex {
  color: gray;
  display: flex;
  justify-content: space-between;
  margin: 5%;
  margin-top: 35%;
}

#jacobschytzflex {
  color: black;
  display: flex;
  justify-content: space-between;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

/*Info tekst */
.profiletext {
  text-align: left;
  margin: 0;
  margin-left: 6%;
}

/*Stregerne på siden (HR)*/
.hrprofile {
  margin-bottom: 5%;
  height: 0.1px;
  width: 87%;
}

/*Overskrift (name, location, occupation)*/
.profileh5 {
  color: grey;
  margin: 0;
  margin-bottom: 10px;
}

/*Info (Profil, Aarhus, student) */
.profileh4 {
  color: black;
  margin: 0;
  margin-bottom: 5px;
}

/*Knappen på profile*/
#profile>button {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 22px;
  padding: 10px;
  transition: transform .2s;
  /* Animation */
  z-index: 999999999999999;
  font-weight: 700;
  font-size: 16px;
  ;
  margin-bottom: 30%;
  width: 40%;
  height: 40px;
}


/*---------------YOUR MEETUPS -----------*/

.yourmeetupsh {
  color: white;
  padding: 18%;
}

.meetuppil {
  width: 10%;
  margin-left: 75%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flexmeetups {
  display: flex;
  flex-direction: row;
  align-items: center;
}